<!DOCTYPE html>
<html lang="en">
<head>
	<title>Document</title>
	
	<!--add jquery Library-->
	<!--jquery is a javaScript Library-->
	<!--jQuery greatly simplifies JavaScript programming-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
   
  <!--append the rendered pages , because main.hbs is a layout-->

  {{{body}}}

</body>
</html>